<div class="text-center">
    <h1 class="display-4">POC.Grpc.App</h1>
    <p>Contains a code example that compares the consumption of endpoints from an Api Rest and the consumption of Grpc services.</p>
</div>