@using POC.Grpc.App.Application.Enums
@using POC.Grpc.App.Application.Models.Customer
@model CustomerViewModel

<h4>New customer registration</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Birth" class="control-label"></label>
                <input asp-for="Birth" class="form-control" type="date"
                    data-val="true"
                    data-val-required="Birth date is required."
                    data-val-birthDateValidation="Birth date cannot be greater than today's date." />
                <span data-valmsg-for="Birth" data-valmsg-replace="true" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <select asp-for="Gender" asp-items="Html.GetEnumSelectList<Gender>()" class="form-control">
                    <option value="@long.MinValue"></option>
                </select>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="CashBalance" class="control-label"></label>
                <input asp-for="CashBalance" type="number" step="0.01" class="form-control" />
                <span asp-validation-for="CashBalance" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
                </label>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}